html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  --light-blue: #149aee;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 2;
  padding: 3em;
  display: relative;
}

h1, a {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

a {
  display: block;
  color: var(--light-blue);
  font-size: 1.25rem;
}

.messages, form {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-top: 2.5em;
}

.messages {
  margin-left: 10%;
}

.message {
  border-left: 2px solid var(--light-blue);
  padding: 0em 1em;
  line-height: 3;
}

.message-head {
  font-size: .8rem;
}

.message-body {
  font-size: 1.2rem;
}

.user {
  font-weight: bold;
}

.time {
  font-style: italic;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: max(300px, 30%);
}

input, button {
  width: 100%;
  height: 2em;
  font-size: 1.2em;
}

input {
  padding: 1em .5em;
}

label {
  font-size: .8rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em .5em;
  color: white;
  font-weight: bold;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 5px;
}


